@import "../../varibles.style.scss";
.computer {
  display: flex;
  position: absolute;
  bottom: $centerTable;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: lcdSolid;
  z-index: 100;

  .monitor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 550px;
    background-color: #dbcda6;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0px 0px 2px 2px rgb(34 60 80 / 33%) inset;
  }
  .m-main {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    height: 100%;
    // background-image: url("../../../public/img/bg-computer.jpg");
    background-color: #434342;
    padding: 10px 20px;
    border-radius: 30px;

    box-shadow: 0px 0px 5px 2px rgba(2, 2, 2, 0.6) inset;
  }
  .m-glass {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    height: 100%;
    padding: 25px;
    // background-image: url("../../../public/img/bg-computer.jpg");
    //background-color: #459c84;
    background-color: #051706;

    font-size: 20px;
    // color: #1bba44;
    color: #fff;
    border-radius: 10%;
    //  box-shadow: 0px 0px 5px 6px rgba(34, 60, 80, 0.33);
    box-shadow: 0px 0px 15px 20px rgba(34, 60, 80, 0.33) inset;

    .container {
      width: 100%;
      height: 100%;
    }
  }
}

.comp-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 670px;
  height: 200px;
  border-radius: 8px;
  background-color: #dbcda6;
  box-shadow: 0px -2px 2px 2px rgb(34 60 80 / 33%) inset;
  .btn-onOff {
    display: flex;

    width: 30px;
    height: 50px;
    background-color: #8a7a61;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 1px rgb(0 0 0);
  }

  .diskette-drive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    width: 220px;

    .disk-input {
      display: flex;
      width: 100%;
      height: 15px;
      background-color: #434342;
    }

    .disk-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      .disk-status {
        display: flex;
        width: 20px;
        height: 6px;
        background-color: #9a9a9a;
        box-shadow: 0px 0px 1px 1px rgb(0 0 0 / 51%);
      }
      .btn-pickoff {
        display: flex;
        width: 45px;
        height: 20px;
        background-color: #9a9a9a;
        box-shadow: 0px 2px 2px 2px rgb(34 60 80 / 33%) inset;
      }
    }
  }
}
