.About {
  display: flex;
  width: 100%;
  //gap: 30px;

  canvas {
  }
  aside,
  .header {
    display: flex;
    text-transform: uppercase;
  }
  .header,
  section {
    padding: 10px;
  }

  aside {
    align-items: flex-end;
    height: 100%;
    width: 150px;
    z-index: 100;
    nav {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      li {
        display: flex;
        height: 60px;
        padding: 5px;
        border: 2px solid #077d0c;
        cursor: pointer;
      }
      .activeTab {
        border: 2px solid #ffffff;
        border-left: 10px solid #ffffff;
        border-right: 10px solid #ffffff;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 100;
    margin-top: 20px;

    .header {
      width: 80%;
      align-items: center;
      border: 2px solid #fff;
    }

    section {
      flex-direction: column;
      height: 100%;
      margin-top: 10px;
      border: 2px solid #077d0c;
      border-top: 10px solid #04ab63;
      font-size: 22px;

      overflow-y: auto;

      .tabContent {
        display: none;
        flex-direction: column;
        height: 100%;
        gap: 10px;
      }

      .activeTC {
        display: flex;
      }
    }
  }
}
