.About {
  display: flex;
  //gap: 30px;
  canvas {
  }
  aside,
  .header {
    display: flex;
    text-transform: uppercase;
  }
  .header,
  .mainContainer {
    padding: 10px;
  }

  aside {
    align-items: flex-end;
    height: 100%;
    width: 180px;
    z-index: 100;
    nav {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      li {
        display: flex;
        height: 100px;
        padding: 5px;
        border: 2px solid #077d0c;
        cursor: pointer;
      }
      .activeTab {
        border: 2px solid #ffffff;
        border-left: 7px solid #ffffff;
        border-right: 7px solid #ffffff;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 100;
    margin-top: 20px;

    .header {
      width: 80%;
      align-items: center;
      border: 2px solid #fff;
    }

    .mainContainer {
      flex-direction: column;
      height: 100%;
      margin-top: 10px;
      border: 2px solid #077d0c;
      border-top: 10px solid #04ab63;
      font-size: 22px;
      text-align: justify;
      overflow-y: auto;

      .tabContent {
        display: none;
        flex-direction: column;
        height: 100%;

        a {
          color: #fff;
        }
        section {
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-top: 30px;
          .sectionName {
            background-color: #04ab63;
            padding: 0 5px;
          }
        }

        .experience {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: 20px;

          .certificates {
            gap: 10px;
          }

          .exp-header {
            display: flex;
            flex-direction: column;
            padding: 10px;
            border: 2px dashed #fff;
            gap: 10px;
            .dateAndPosition {
              display: flex;
              gap: 20px;
            }
            .place {
              font-size: 26px;
            }
          }
          .exp-date {
            width: fit-content;
            font-size: 15px;
            text-align: center;
          }
          .exp-main {
            p {
              margin-top: 10px;
            }
          }
        }
      }
      .tc-contacts {
        gap: 20px;
        li a {
        }
      }
      .activeTC {
        display: flex;
      }
    }
  }
}
