@import "./varibles.style.scss";

@font-face {
  font-family: lcdSolid;
  src: url(./../public/fonts/LcdSolid-VPzB.ttf);
}
@font-face {
  font-family: Sevastopol-Interface;
  src: url(./../public/fonts/Sevastopol-Interface.ttf);
  line-height: 20px;
  letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

.App,
footer,
section {
  max-width: 1920px;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/img/bg.svg");
}

.table {
  display: flex;
  justify-content: flex-end;
  height: $tableHeight;
  width: 100%;
  background-color: #c19c67;
  z-index: 1;
}
.table-items {
  display: flex;
  position: absolute;
  z-index: 100;
  bottom: $centerTable;
  margin-right: 50px;
  gap: 20px;
}
.fullScreen {
  top: 0;
  bottom: unset;
  margin: 0;

  .computer {
    .monitor {
      width: 100vw;
      height: 100vh;
      .m-glass {
        .About aside {
          width: 220px;
          font-size: 25px;
          nav li {
            height: 150px;
          }
        }
        .header {
          font-size: 30px;
        }
        main .mainContainer {
          font-size: 40px;
          line-height: 30px;

          .experience .exp-date {
            font-size: 28px;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .comp-controls {
    display: none;
  }
}

footer {
  display: flex;
  background-color: #835431;
  align-self: flex-end;
  width: 100%;
  height: 50px;
}
